@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

html {
  @apply antialiased;
}
.leaflet-left {
  @apply right-0;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  @apply border-none shadow;
}
.leaflet-touch .leaflet-bar.leaflet-control-zoom {
  @apply relative z-10;
}

.leaflet-expanded-control {
  @apply relative z-20 max-w-2xl;
  @apply w-[calc(100vw-20px)];
  margin-right: 10px;
}

.leaflet-top {
  @apply transition-opacity duration-500 ease-in-out;
}

.leaflet-search {
  @apply z-leafletControlSearchControl;
}

.hidden-attribute[hidden] {
  @apply hidden;
}


.leaflet-popup {
  @apply w-72 sm:w-80;
  margin-bottom: 65px;
  margin-left: 2px;
}

.leaflet-container .links-layout a {
  @apply text-gray-800;
}

.leaflet-container .leaflet-popup-content div:not(.prose-yellow) > a {
  @apply text-gray-900;
}
.leaflet-popup-content-wrapper {
  @apply shadow rounded;
}

.leaflet-popup-content {
  @apply m-0;
}

.leaflet-popup-tip-container {
  @apply w-5 h-3 -ml-3;
  /*
   * Note "h-3" is 12px. To avoid arrow under
   * popover shadow we set as bottom one less pixel
   **/
  bottom: -11px;
}
.leaflet-popup-tip {
  @apply shadow rounded-sm bg-gray-50;
}

.leaflet-popup--with-action .leaflet-popup-tip {
  @apply bg-gray-50;
}

/* Chrome, Safari, Edge, Opera */
input.simulateNoNumber::-webkit-outer-spin-button,
input.simulateNoNumber::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
input.simulateNoNumber[type=number] {
  -moz-appearance: textfield;
}
